<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-1">
            <app-vote-button [post]="post"></app-vote-button>
          </div>
          <div class="col-md-11">
            <span>
              <span class="subreddit-text"><a class="post-url" href="">{{post.subredditName}}</a></span>
              <span> . Posted
                <span> {{post.duration | dateAgo}} </span>
                by
                <a *ngIf="post.username === null" class="username" href="">Anonymous</a>
                <a *ngIf="post.username != null" class="username" href="">{{post.username}}</a>
              </span>
            </span>
            <hr />
            <a routerLink="post.url" class="post-title">{{post.postName}}</a>
            <div>
              <p class="post-text" [innerHtml]="post.description"></p>
            </div>
            <div class="post-comment">
              <form [formGroup]="commentForm">
                <div class="form-group">
                  <textarea [ngStyle]="{'border-color': !commentForm.get('text')!.valid && commentForm.get('text')!.touched ? 'red' : 'grey'}" class="form-control" 
                  [formControlName]="'text'" placeholder="Your Thoughts?" [(ngModel)]="some"></textarea>
                  <span *ngIf="!commentForm.get('text')!.valid && commentForm.get('text')!.touched">
                    The field is required and cannot be empty
                  </span>
                </div>
                <button class="btn-cancel-comment" (click)="discardComment()">Cancel</button>
                <button type="submit" class="btn-add-comment float-right" [disabled]="!some" (click)="postComment()">Comment</button>
              </form>
            </div>
            <div style="margin-top: 60px;" *ngFor="let comment of comments">
              <div class="comment">
                <span>
                  <a routerLink="/user/comment.username">{{comment.username}}</a>
                </span>
                .
                <span>
                  {{comment.createDate | dateAgo}}
                </span>
                <div>
                  <br/>
                  <span>{{comment.text}}</span>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>