.read-post{
    margin-left: 10px;
    padding: 0;
    border: none;
    padding: 7px;
    border-radius: 20px;
}

.post{
    --post-line-color: #ccc;    
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.post:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

.btnCommments{
    border: none;
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
    border-radius: 20px;
    padding: 7px 10px 7px 10px;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.read-post:hover{
    opacity: 0.65;
    cursor: pointer;
}
.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: black;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

fa-icon{
    margin-right: 5px;
}

.center div{
    display:inline-block;
}