<!-- Section to Display Votes-->
<div class="background-style">
    <div class="d-flex">
        <div class="p-2">
            <fa-icon (click)="upvotePost()" class="upvote" [icon]="faArrowUp" [style.color]="post.upVote ? 'green':''">
            </fa-icon>
        </div>
        <div class="p-2 votecount">{{post.voteCount !== 0? post.voteCount : ''}}</div>
        <div class="p-2">
            <fa-icon (click)="downvotePost()" class="downvote" [icon]="faArrowDown" [style.color]="post ? 'post.downVote':''">
            </fa-icon>
        </div>
    </div>
</div>
